<nav>
    <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Custom</li></a>
        <a href="#"><li>Sedan</li></a>
        <a href="#"><li>SUV</li></a>
        <a href="#"><li>Truck</li></a>        
    </ul>
</nav>